<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="static/index.js"></script>
    <link rel="stylesheet" href="static/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Holiday Checklist</title>
<link rel="icon" type="image/png" href="static/images.png">

</head>


<body>




    <div class="title">
        <div class = titletext>
        <h1 class ="text-center" > Holiday Checklist! </h1>
       </div>
        <a href="https://www.skyscanner.net/">
        <img src="static/images.png">
           </a>
    </div>

            <textarea id="notes" class=" col-md-10 col-md-offset-1" rows="2" style="font-size: 30px" placeholder="Enter your items here!"></textarea>

<br>
<br>
<br>
    <div class ="row">
    <div class="col-md-3  col-lg-3 col-xs-3 btn-div">
            <a href="#" id = "add" class="btn btn-info btn-block"   >Add </a>
        </div>


    <div class="col-md-3 col-lg-3 col-xs-3 btn-del">
             <a href="#" class="btn btn-danger btn-block"  > Delete  </a>

    </div>


    <div class="col-md-3 col-lg-3 col-xs-3 btn-conf">
             <a href="#" class="btn btn-warning btn-block"  > Confirm   </a>

    </div>
    <div class="col-md-3 col-lg-3 col-xs-3 btn-canc">
             <a href="#" class="btn btn-success btn-block"  > Cancel  </a>

    </div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="row">
 <h3 class = "col-md-5 col-md-offset-1 "> To do. </h3>
        <h3 class= "col-md-5 col-xs col-md-offset-1"> Done      </h3>
    </div>
        <section>
        <div class="row">

            <div class="to-do-list col-md-5 col-md-offset-1" >
                <ol class="list"  >
                </ol>
            </div>

            <div class="done-list col-md-5  col-md-offset-1">
                <ul class="dlist" >
                </ul>
            </div>

        </div>

    </section>


</body>
</html>